# Ignore compiled class files
*.class

# Ignore log files
*.log


# Ignore temporary files
*.tmp
*.swp


# Ignore OS files
.DS_Store
Thumbs.db

#Ignore batch file
.bat

# Ignore build directories
/bin/
/build/
/out/

# Ignore IDE files
*.iml
.idea/
.vscode/


.txt